
[global]
fsid = {{ ceph_fsid }}
mon initial members = {{ ceph_mon_members }}
mon host = {{ ceph_mon_members_ips }}
public network = {{ ceph_public_network }}
cluster network = {{ ceph_cluster_network }}
auth cluster required = cephx
auth service required = cephx
auth client required = cephx
osd journal size = {{ ceph_osd_journal_size }}
osd pool default size = {{ ceph_osd_pool_default_size }}
osd pool default min size = {{ ceph_osd_pool_default_min_size }}
osd pool default pg num = {{ osd_pool_default_pg_num }}
osd pool default pgp num = {{ ceph_osd_pool_default_pgp_num }}
osd crush chooseleaf type = {{ ceph_osd_crush_chooseleaf_type }}
